.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    }
    .note{
    font-size : 15px;
    color: black;
    }
    canvas{
        background-color: white;
        border: 5px solid white;
        border-radius: 20px;
        box-shadow: 5px 5px 5px grey;
        }

    #song_name{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
    margin-top: 25px;
    padding: 5px;
    }